.logo {
  max-height: 130px;
  max-width: 175px;
  justify-content: left;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: rgba(21, 21, 223, 0.808);
}

.shoeImage {
  max-height: 250px;
  max-width: 250px;
}
