.logo {
  max-height: 130px;
  max-width: 175px;
  justify-content: left;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(rgb(17, 17, 223), rgb(128, 154, 173));
}

.carouselImage {
  max-height: 45vh;
  max-width: 45vw;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  padding: 3em;
}

/* .shoeImage {
  max-height: 250px;
  max-width: 250px;
  border: 3px solid black;
  border-radius: 10%;
} */

/* .shoes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
} */